/* Imports - Tipografía */
@font-face {
  font-family: "";
  src: url(""), format("woff");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-regular: "Lab Grotesque", sans-serif;
  --font-bold: "Lab Grotesque bold", sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
body {
  font-family: var(--font-regular);
  background-color: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-bold);
}
a{
  text-decoration: none;
  color: inherit;
}

    a:hover {
      opacity: 0.7
      ;
    }

/* Home */
.home {
  font-family:Philosopher;
  font-weight: bold;
  color: #7c7eaa;
  background:#ffffff;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.home nav {
  border: 1px solid #7c7eaa;

}

.home nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.home nav ul li {
  cursor: pointer;}

.home-intro {
  /*margin-top: 10%;*/
 /* background-image: url(https://picsum.photos/1200);*/
  background-size: cover;
  display: grid;
 background-color:darkgrey;
 background-blend-mode: lighten;
}

.slider {
  width: 100vw;
  height: auto;
  background: url("https://fakeimg.pl/800x400/D1D5DB/D1D5DB");
  animation: cambiarbg 30s linear infinite;
}

@keyframes cambiarbg {
  0% {
    background: url("https://res.cloudinary.com/dtaugnnta/image/upload/v1652196718/ladanzamockup_sukhhu.png");
  }

  20% {
    background: url("https://fakeimg.pl/800x400/FFA000/FFA000");
  }

  25% {
    background: url("https://fakeimg.pl/800x400/3F51B5/3F51B5");
  }

  45% {
    background: url("https://fakeimg.pl/800x400/AA00FF/AA00FF");
  }

  50% {
    background: url("https://fakeimg.pl/800x400/D1D5DB/D1D5DB");
  }

  70% {
    background: url("https://fakeimg.pl/800x400/FFA000/FFA000");
  }

  75% {
    background: url("https://fakeimg.pl/800x400/512DA8/512DA8");
  }

  100% {
    background: url("https://fakeimg.pl/800x400/D1D5DB/D1D5DB");
  }
}
.home-intro h2 {
  font-family: Philosopher;
  font-weight: bold;
  font-size:7ch;
  margin-top: auto;
  padding: 40px;

}
.pagenlaqestas{
    color:#673065;
  }


.sobremi {
 
  font-family: Philosopher;
  font-weight: bold;
  color: #32365d;
  background: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sobremi nav {
  border: 1px solid #7c7eaa;
}

.sobremi nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.sobremi  .cuadricula{
  padding: 40px;
}

.contenedor {
  max-width: 80vw;
  margin: 10vh auto;
}

.cuadricula {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(min(100%,320px), 1fr));
  /* grid-template-rows: auto auto; */

  gap: 40px;
}

.proyecto-individual .cuadricula {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}

.proyecto-individual .cuadricula .info {
  display: grid;
    justify-content: center;
    align-content: center;



}
.proyecto-individual .cuadricula > * {
 flex: 1;
}

.proyecto-individual .cuadricula .destacada {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
}
.proyecto-individual .cuadricula .destacada img {
  grid-column: 1/2;
  width: 600px;
}
.proyecto-individual .cuadricula .destacada .categorias {
  grid-column: 2/3;
  display: flex;
  gap: 2ch;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}


.cuadricula h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 2ch;
  grid-column:1/2;
  grid-row:1/1;

}

.cuadricula h3 {
  font-family: Roboto;
  font-weight: light;
  font-size: 1.5ch;
  grid-column: 1/2;
  grid-row: 1/1;
  margin-top: auto;

}

.cuadricula img {
  object-fit: cover;
  grid-column:2/4;
  grid-row:1/1;
  padding-left: 20%;

}


.slider {
  background:white;
  display: grid;
  grid-template-columns: 100vW 100vW 100vW;
  max-width: vW;
  overflow: hidden;
}

.slider img {
  width: 100cW;
  animation: slider 10s infinite;
}

@keyframes slider {
  0% {
    transform: translatex(0);
  }

  33% {
    transform: translatex(-300px);
  }

  66% {
    transform: translatex(-600px);
  }

  100% {
    transform: translatex(-900px);
  }
    }
